<section class="about section" id="about">
  <div class="container about-container">
    <div class="about-content">
      <img
        class="about-icon"
        src="../img/sections/about/icon.png"
        alt=""
        aria-hidden="true"
        loading="lazy"
        width="50"
        height="50"
      />
      <div>
        <h2 class="about-title">About the Game</h2>

        <p class="about-subtitle">
          A therapeutic puzzle journey around the globe.
        </p>
      </div>

      <p class="about-text">
        Travel Decor: Journey Match invites players to accompany a traveling
        protagonist through peaceful villages and vibrant cities, solving
        relaxing match-3 puzzles along the way. Each completed level rewards
        travel-inspired items used to decorate cozy personal rest stops around
        the world. The tone should feel gentle, immersive, and mindful,
        appealing to players seeking a calm, low-pressure puzzle escape.
      </p>
    </div>

    <div class="about-visual">
      <picture class="about-picture-badge">
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/sections/about/jourbey-desc-1x.png 1x,
            ./img/sections/about/jourbey-desc-2x.png 2x
          "
        />
        <img
          class="about-img-badge"
          src="./img/sections/about/jourbey-mob-1x.png"
          srcset="
            ./img/sections/about/jourbey-mob-1x.png 1x,
            ./img/sections/about/jourbey-mob-2x.png 2x
          "
          alt="Game Level Screenshot"
          loading="lazy"
        />
      </picture>
      <picture class="about-picture-main">
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/sections/about/level-20-desc-1x.png 1x,
            ./img/sections/about/level-20-desc-2x.png 2x
          "
        />
        <img
          class="about-img-main"
          src="../img/sections/about/level-20-mob-1x.png"
          srcset="
            ../img/sections/about/level-20-mob-1x.png 1x,
            ../img/sections/about/level-20-mob-2x.png 2x
          "
          alt="Journey Match Cover"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
