<section class="contact section" id="contact">
  <div class="contact-container container" data-aos="fade-up">
    <h2 class="contact-title">Ready to begin your journey?</h2>
    <p class="contact-email-info">
      <span class="contact-email-gradient">
        Email: <a href="mailto:info@forestspring.site" class="contact-email-link">info@forestspring.site</a>
      </span>
    </p>
    <a href="https://play.google.com/store/apps/details?id=com.dream.fun.journeymatch&hl=en&gl=us"
      class="contact-download-link" target="_blank">
      GOOGLE PLAY
    </a>
  </div>
</section>