:root {
  /* Fonts */
  --font-family: 'Mulish', sans-serif;
  --second-family: 'Inter', sans-serif;
  --third-family: 'Quicksand', sans-serif;

  /* Colors */
  --color-primary: #4778f1;
  --color-text: #3a332e;
  --color-bg-light: #ffefd4;
  --color-bg-dark: #f6ddb5;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bg-cream: #fdf8f0;
  --color-title: #1e1e1e;
  --color-bg-menu: #e0cbb4;

  /* Shadows */
  --shadow-card: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: var(--font-family);
  color: var(--color-text);
}
